<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImportMultiploPAWSBinding"/>
        <binding name="ImportMultiploPAWSBinding1">
          <security mode="Transport"/>
        </binding>
        <binding name="CASServiceBinding"/>
        <binding name="ImportMultiploWorkflowPAWSBinding"/>
        <binding name="ImportMultiploWorkflowPAWSBinding1">
          <security mode="Transport"/>
        </binding>
        <binding name="GetReceivedLoadWSBinding" messageEncoding="Mtom"/>
        <binding name="GetReceivedLoadWSBinding1" messageEncoding="Mtom" receiveTimeout="24:00:00">
          <security mode="Transport"/>
        </binding>
        <binding name="DeleteDocumentWSBinding" messageEncoding="Mtom"/>
        <binding name="DeleteDocumentWSBinding1" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
        <binding name="BookDocumentListWSBinding" messageEncoding="Mtom"/>
        <binding name="BookDocumentListWSBinding1" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
        <binding name="GetBookedDocumentListWSBinding" messageEncoding="Mtom"/>
        <binding name="GetBookedDocumentListWSBinding1" messageEncoding="Mtom" receiveTimeout="24:00:00">
          <security mode="Transport"/>
        </binding>
        <binding name="BookDocumentsArchiveWSBinding"/>
        <binding name="BookDocumentsArchiveWSBinding1">
          <security mode="Transport"/>
        </binding>
        <binding name="GetBookedDocumentsArchiveWSBinding" messageEncoding="Mtom" maxReceivedMessageSize="1000000000"/>
        <binding name="GetBookedDocumentsArchiveWSBinding1" messageEncoding="Mtom" maxReceivedMessageSize="1000000000" receiveTimeout="24:00:00">
          <security mode="Transport"/>
        </binding>
        <binding name="EsitoCommittenteWSBinding"/>
        <binding name="EsitoCommittenteWSBinding1">
          <security mode="Transport"/>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/importMultiploPA" binding="basicHttpBinding" bindingConfiguration="ImportMultiploPAWSBinding" contract="ImportMultiploPA.ImportMultiploPAWS" name="ImportMultiploPAWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/importMultiploPA" binding="basicHttpBinding" bindingConfiguration="ImportMultiploPAWSBinding1" contract="ImportMultiploPA.ImportMultiploPAWS" name="PImportMultiploPAWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/cassoftwarehubsystem/CASService" binding="basicHttpBinding" bindingConfiguration="CASServiceBinding" contract="CASServ.CASService" name="CASServicePort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/importMultiploWorkflowPA" binding="basicHttpBinding" bindingConfiguration="ImportMultiploWorkflowPAWSBinding" contract="importMultiploWorkflowPA.ImportMultiploWorkflowPAWS" name="ImportMultiploWorkflowPAWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/importMultiploWorkflowPA" binding="basicHttpBinding" bindingConfiguration="ImportMultiploWorkflowPAWSBinding1" contract="importMultiploWorkflowPA.ImportMultiploWorkflowPAWS" name="PImportMultiploWorkflowPAWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/getReceivedLoad" binding="basicHttpBinding" bindingConfiguration="GetReceivedLoadWSBinding" contract="getReceivedLoad.GetReceivedLoadWS" name="GetReceivedLoadWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/getReceivedLoad" binding="basicHttpBinding" bindingConfiguration="GetReceivedLoadWSBinding1" contract="getReceivedLoad.GetReceivedLoadWS" name="PGetReceivedLoadWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/deleteDocument" binding="basicHttpBinding" bindingConfiguration="DeleteDocumentWSBinding" contract="deleteDocument.DeleteDocumentWS" name="DeleteDocumentWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/deleteDocument" binding="basicHttpBinding" bindingConfiguration="DeleteDocumentWSBinding1" contract="deleteDocument.DeleteDocumentWS" name="PDeleteDocumentWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/bookDocumentList" binding="basicHttpBinding" bindingConfiguration="BookDocumentListWSBinding" contract="bookDocumentList.BookDocumentListWS" name="BookDocumentListWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/bookDocumentList" binding="basicHttpBinding" bindingConfiguration="BookDocumentListWSBinding1" contract="bookDocumentList.BookDocumentListWS" name="PBookDocumentListWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/getBookedDocumentList" binding="basicHttpBinding" bindingConfiguration="GetBookedDocumentListWSBinding" contract="getBookedDocumentList.GetBookedDocumentListWS" name="GetBookedDocumentListWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/getBookedDocumentList" binding="basicHttpBinding" bindingConfiguration="GetBookedDocumentListWSBinding1" contract="getBookedDocumentList.GetBookedDocumentListWS" name="PGetBookedDocumentListWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/bookDocumentsArchive" binding="basicHttpBinding" bindingConfiguration="BookDocumentsArchiveWSBinding" contract="bookDocumentsArchive.BookDocumentsArchiveWS" name="BookDocumentsArchiveWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/bookDocumentsArchive" binding="basicHttpBinding" bindingConfiguration="BookDocumentsArchiveWSBinding1" contract="bookDocumentsArchive.BookDocumentsArchiveWS" name="PBookDocumentsArchiveWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/getBookDocumentsArchive" binding="basicHttpBinding" bindingConfiguration="GetBookedDocumentsArchiveWSBinding" contract="getBookDocumentsArchive.GetBookedDocumentsArchiveWS" name="GetBookedDocumentsArchiveWSPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/getBookDocumentsArchive" binding="basicHttpBinding" bindingConfiguration="GetBookedDocumentsArchiveWSBinding1" contract="getBookDocumentsArchive.GetBookedDocumentsArchiveWS" name="PGetBookedDocumentsArchiveWSPort"/>
      <endpoint address="http://collaudonew.racomputer.it:80/http-router-softwarehubsystem/webservices/esitoCommittenteWS" binding="basicHttpBinding" bindingConfiguration="EsitoCommittenteWSBinding" contract="esitoCommittente.EsitoCommittenteWS" name="EsitoCommittenteWSImplPort"/>
      <endpoint address="https://servizi.racomputer.it:443/http-router-softwarehubsystem/webservices/esitoCommittenteWS" binding="basicHttpBinding" bindingConfiguration="EsitoCommittenteWSBinding1" contract="esitoCommittente.EsitoCommittenteWS" name="PEsitoCommittenteWSImplPort"/>
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
